html, body {
    /* background: url(../images/bg.svg); */
    /* background-repeat: repeat; */
    height: auto;
    /* background-color: rgb(123,196,229); */
}

.si-container {
    max-width: 800px;
    margin: 15px;
}

.ui-card h3 {
    margin-top: 0;
}

.ui-md-card {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 8px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.14), 0px 2px 2px 0px rgba(0, 0, 0, 0.098), 0px 1px 5px 0px rgba(0, 0, 0, 0.084);
}
.ui-md-card-content{
    padding: 16px;
}

.ui-card-img-container {
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
    background-color: whitesmoke;
    position: relative;
}

.ui-card-img-container img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.ui-card-introduction {
    height: 136px;
}

.si-home-introduction {
    width: 200px;
}

.si-home .ui-card-img-container {
    width: 100%;
}

nav {
    background-color: rgb(30, 178, 87);
    padding: 10px;
    color: white;
}

.nav-wrapper {
    text-align: center;
}

.nav-logo {
    height: 100px;
}

.nav-title {

}

.si-result-container .si-result{
    padding-left: 15px;
    padding-right: 15px;
}
.si-result-container .si-result .row>div{
    padding: 0;
}