body{
    /*background: url(../images/bg.svg);*/
}
.si-container{
    width: 800px;
    margin: auto;
}

.si-result .card{

}
.si-result .card-image{
    height: 200px;
    overflow: hidden;
}
.si-result .card-image img{
}


.si-home-container{

}
.si-home-img-container{
    width:100px;
    height: 80px;
    overflow: hidden;
}
.si-home-introduction{
    width: 200px;;
}