<div class="ui-card">
    <md-card>
        <div class="ui-card-img-container">
            <img class="activator" ng-src="{{card.face}}">
        </div>
        <md-card-content>
            <h3 ng-bind="card.name"></h3>

            <div>所在部门：<span ng-bind="card.department"></span></div>

            <div>入职时间：<span ng-bind="card.entryTime | date:'yyyy-MM-dd'"></span></div>

            <div class="ui-card-introduction">自我介绍：<span ng-bind="card.introduction"></span></div>
        </md-card-content>
    </md-card>
</div>