<div class="ui-card">
    <div class="ui-md-card">
        <div class="ui-card-img-container">
            <img class="activator" ng-src="{{ngModel.face | imageView}}">
        </div>
        <div class="ui-md-card-content">
            <h3 ng-bind="ngModel.name"></h3>

            <div>所在部门：<span ng-bind="ngModel.department"></span></div>

            <div>入职时间：<span ng-bind="ngModel.entryTime | date:'yyyy-MM-dd'"></span></div>

            <div class="ui-card-introduction">自我介绍：<span ng-bind="ngModel.introduction"></span></div>
        </div>
    </div>
</div>