<div class="ui-sign">
    <div class="clearfix">
        <div class="ui-sign-img-container">
            <img class="activator" ng-src={{ngModel.img}}>
        </div>
        <div class="ui-sign-content">
            <h5>
                <strong ng-bind="ngModel.name || '&nbsp;'"></strong>
            </h5>

            <div ng-bind="ngModel.department || '&nbsp;'"></div>

            <div>手机：<span ng-bind="ngModel.mobile"></span></div>
            <div>邮箱：<span ng-bind="ngModel.email"></span></div>
            <div>
                <h5><strong ng-bind="ngModel.companyInfo.name"></strong></h5>
            </div>
            <div>
                <div class="pull-left">地址：</div>
                <span style="display: block;margin-left: 3em;" ng-bind="ngModel.companyInfo.address"></span></div>
            <div>微信公众号：xiaonongnv2013</div>
            <div>办公电话：<span ng-bind="ngModel.companyInfo.phone"></span></div>
        </div>
    </div>
    <div style="margin-top: 10px;">
        愿景：成为中国最大的优质食材配送平台。
        <br>
        使命：提升优质农产品供应链效率，让身边的人吃的好一点。
        <br>
        价值观：创业精神 正直 尽责 合作
    </div>
</div>