<div class="ui-sign">
    <div style="">
        <div class="ui-sign-img-container" style="width: 80px; float: left">
            <img class="activator" ng-src={{ngModel.img}} style="width: 100%">
        </div>
        <div class="ui-sign-content" style="margin-left: 90px">
            <h4 ng-bind="ngModel.name || '&nbsp;'"></h4>

            <div ng-bind="ngModel.department || '&nbsp;'"></div>

            <div>手机：<span ng-bind="ngModel.mobile"></span></div>
            <div>邮件：<span ng-bind="ngModel.email"></span></div>
            <br/>
            <div><h4 ng-bind="ngModel.companyInfo.name"></h4></div>
            <div>地址：<span ng-bind="ngModel.companyInfo.address"></span></div>
            <div>微信公众号：xiaoongnv</div>
            <div>办公电话：<span ng-bind="ngModel.companyInfo.phone"></span></div>
            <div>小农女·专业食材餐馆配送</div>
        </div>
    </div>
</div>