<div class="si-home">
    <div class="si-home-container">
        <div class="page-header text-center">
            <h3>小农女员工介绍系统 <small><a href="http://form.mikecrm.com/f.php?t=Gc289z" target="_blank">反馈意见</a></small></h3>
        </div>

        <button class="btn btn-primary" ng-click="addCard()">添加</button>

        <hr/>

        <div>
            <div maltose-grid config="gridData"></div>
        </div>

        <div class="text-center text-muted">
            <hr/>
            <h4>Powered by <a href="https://github.com/liyatang/" target="_blank">Liyatang</a>. Thanks for <a
                    href="http://www.qiniu.com/" target="_blank">QINIU</a></h4>
        </div>
    </div>
</div>