<div class="si-card si-container">

    <div layout="row" layout-wrap>
        <div flex="33">
            <div card-directive ng-model="card"></div>
        </div>
        <div flex="10"></div>
        <div flex>
            <form ng-submit="onSubmit()" novalidate>
                <div class="form-group">
                    <button type="button" id="uploadFile">Upload</button>
                </div>
                <md-input-container>
                    <label>名字</label>
                    <input type="text" ng-model="card.name"/>
                </md-input-container>

                <md-input-container>
                    <label>所在部门</label>
                    <input type="text" ng-model="card.department"/>
                </md-input-container>

                <md-input-container>
                    <label>入职时间</label>
                    <input type="date" ng-model="card.entryTime"/>
                </md-input-container>

                <div class="form-group">
                <textarea class="form-control" rows="5" ng-model="card.introduction"></textarea>
                </div>

                <div class="text-right">
                    <md-button type="submit" class="md-primary md-raised">提交</md-button>
                </div>
            </form>
        </div>
    </div>

</div>