<div class="si-card si-container">

    <div layout="row" layout-wrap>
        <div flex="33">
            <div card-directive ng-model="card"></div>
        </div>
        <div flex="10"></div>
        <div flex>
            <form ng-submit="onSubmit()" novalidate>
                <div class="form-group">
                    <label>头像</label>
                    <button type="button" id="uploadFile">Upload</button>
                </div>
                <div class="form-group">
                    <label>名字</label>
                    <input type="text" class="form-control" ng-model="card.name"/>
                </div>

                <div class="form-group">
                    <label>所在部门</label>
                    <input type="text" class="form-control" ng-model="card.department"/>
                </div>

                <div class="form-group">
                    <label>入职时间</label>
                    <input type="date" class="form-control" ng-model="card.entryTime"/>
                </div>

                <div class="form-group">
                    <label>自我介绍</label>
                    <textarea class="form-control" rows="5" ng-model="card.introduction"></textarea>
                </div>

                <div>
                    <button type="submit" class="btn btn-primary btn-block">保存</button>
                </div>
            </form>
        </div>
    </div>

</div>