<div class="si-home">
    <div class="si-home-container">
        <div class="page-header text-center">
            <h1>小农女员工介绍系统</h1>
        </div>
        <h3>各子地区</h3>

        <a href="#/area/{{area.id}}" class="btn btn-link" ng-repeat="area in areas" ng-bind="area.name"></a>

        <hr/>
        <div>
            <div maltose-grid config="gridData"></div>
        </div>

        <div class="text-center text-muted">
            <hr/>
            <h1>Powered by <a href="https://github.com/liyatang/" target="_blank">Liyatang</a>. Thanks for <a
                    href="http://www.qiniu.com/" target="_blank">QINIU</a></h1>
        </div>
    </div>
</div>