<div class="si-qiniu">

    <!--<form method="post" action="http://upload.qiniu.com/"-->
          <!--enctype="multipart/form-data">-->
        <!--<input name="key" type="hidden" value="abcde">-->
        <!--<input name="token" type="hidden" ng-value="uptoken">-->
        <!--<input name="file" type="file" />-->

        <!--<button type="submit">upload</button>-->
    <!--</form>-->

    <hr/>

    <div id="container">
        <button type="button" id="pickfiles">upload</button>
    </div>
</div>